[submodule "deps/vllm-hust-dev-hub"]
	path = deps/vllm-hust-dev-hub
	url = git@github.com:vLLM-HUST/vllm-hust-dev-hub.git
	branch = faculty-twin-runtime
[submodule "deps/vllm-hust"]
	path = deps/vllm-hust
	url = git@github.com:vLLM-HUST/vllm-hust.git
	branch = faculty-twin-runtime
[submodule "deps/vllm-ascend-hust"]
	path = deps/vllm-ascend-hust
	url = git@github.com:vLLM-HUST/vllm-ascend-hust.git
	branch = faculty-twin-runtime
